body {
  margin: 20px;
}

input {
  width: 200px;
  padding: 5px 10px;
  border: none;
  outline: none;
  transition: border 0.4s ease;
  border: 1px solid transparent;
  margin: 5px 0px;
}

input:focus {
  border: 1px solid rgb(6, 149, 245);
}

button {
  padding: 5px;
  border: none;
  border-radius: 2px;
  transition: all 0.4s ease;
}

button:hover {
  background-color: gray;
  cursor: pointer;
}
